<div class="mt-9">
    <div class="row">
        <div class="col-lg-3">
            <h2>{{course.name}}</h2>
            <button>Mua Ngay</button>
        </div>
        <div class="col-lg-9">
             <h1>{{course.name}}</h1>
            <img src="{{course.image}}" class="card-img-top imageChange">
            <p>{{course.desc}}</p>
        </div>
    </div>
</div>